.section {
  display: flex;
  margin-bottom: 1rem;

  &Title {
    width: 300px;

    &Text {
      font-size: 4rem;
      line-height: 1;
    }
  }

  &Content {
    flex-grow: 1;
  }

  @media all and (max-width: 920px) {
    flex-direction: column;

    &Title {
      margin-bottom: 1rem;
    }
  }
}