.bio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -2rem 5rem;

  > * {
    padding: 0 2rem;
    width: 50%;
  }

  @media all and (max-width: 1024px) {
    margin: 0 0 5rem;
    > * {
      padding: 0;
      width: 100%;
    }
  }

  @media all and (max-width: 768px) {
    margin-bottom: 2rem;
  }

  &Image {
    position: relative;
    min-height: 500px;
    &:after {
      content: '';
      display: block;
      pointer-events: none;
      background: linear-gradient(90deg, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 100%);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 40%;
    }

    @media all and (max-width: 1024px) {
      margin-bottom: 1rem;
      &:after {
        top: auto;
        width: 100%;
        height: 50%;
        background: linear-gradient(180deg, rgba(20,20,20,0) 0%, rgba(20,20,20,1) 100%);
      }
    }

    @media all and (max-width: 550px) {
      min-height: 0;
      height: 250px;
    }
  }
  &Text {
    line-height: 1.4;
    font-size: 16px;
    opacity: 0.8;

    &Wrapper {
      margin: 0 auto;
      width: 100%;
      max-width: 768px;
    }
  }
}