button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.btn {
  border: 2px solid white;
  background: none;
  padding: 0.4rem 1rem;
  color: white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  transition: .2s;
  cursor: pointer;
  &:not(:disabled):hover {
    background: white;
    color: #3e3e3e;
  }
  &--icon {
    padding-left: 0.3rem;
    display: inline-flex;
    align-items: center;
  }
  i {
    margin-right: 0.2rem;
  }
  &:disabled {
    opacity: 0.6;
  }
}