.countdown {
  display: flex;
  justify-content: space-between;
  font-family: 'Staatliches', sans-serif;
  &Unit {
    text-align: center;
    line-height: 1;
    label {
      font-size: 1rem;
      opacity: 0.8;
    }
  }
}