.flex {
  display: flex;
  &--wrap {
    flex-wrap: wrap;
  }
  &--column {
    flex-direction: column;
  }
  &-align {
    &--center {
      align-items: center;
    }
    &--bottom {
      align-items: flex-end;
    }
  }
  &-justify {
    &--center {
      justify-content: center;
    }
    &--between {
      justify-content: space-between;
    }
  }
}