* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.2;
  font-size: 18px;
  background: #141414;
  color: #f5f5f5;
}

h1, h2, h3, h4 {
  font-family: 'Staatliches', sans-serif;
  margin: 0;
  font-weight: 100;
  letter-spacing: normal;
}

h1 {
  font-size: 6em;
  line-height: 1;
  @media all and (max-width: 1920px) {
    font-size: 5em;
  }
  @media all and (max-width: 550px) {
    font-size: 2.6em;
  }
}

h2 {
  font-size: 2.6em;
  @media all and (max-width: 550px) {
    font-size: 1.8em;
  }
}

h3 {
  font-size: 1.5em;
  @media all and (max-width: 550px) {
    font-size: 1.2em;
  }
}

h4 {
  font-size: 1rem;
}

sub {
  vertical-align: baseline;
  font-size: 60%;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  padding: 0 1rem;
  margin: 0 auto;
  &--large {
    max-width: 1920px;
  }
}

main {
  margin-top: 50px;
}

.swiper-container {
  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;
  }
}

@import "utility";
@import "backgrounds";
@import "button";
@import "flex";
@import "grid";
@import "list";
@import "image";
@import "hero";
@import "section";