.grid {
  display: grid;
  &-gap {
    &--1 {
      grid-gap: 1rem;
    }
    &--2 {
      grid-gap: 2rem;
    }
    &--3 {
      grid-gap: 3rem;
    }
    &--4 {
      grid-gap: 4rem;
    }
    &--5 {
      grid-gap: 5rem;
    }
  }
  &--6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
  &--4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
  &--3 {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
  &--2 {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
  @media all and (max-width: 1400px) {
    &-1400 {
      &--4 {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      &--3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &--2 {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media all and (max-width: 1280px) {
    &-1280 {
      &--2 {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media all and (max-width: 1150px) {
    &-1150 {
      &--2 {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
  @media all and (max-width: 920px) {
    &-920 {
      &--3 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &--2 {
        grid-template-columns: 1fr 1fr 1fr;
      }
      &--1 {
        grid-template-columns: 1fr;
      }
    }
  }
  @media all and (max-width: 768px) {
    &-768 {
      &--2 {
        grid-template-columns: 1fr 1fr;
      }
      &--1 {
        grid-template-columns: 1fr;
      }
    }
  }
  @media all and (max-width: 550px) {
    &-550 {
      &--1 {
        grid-template-columns: 1fr;
      }
      &-gap--1 {
        grid-gap: 1rem;
      }
    }
  }
  @media all and (max-width: 420px) {
    &-420 {
      &--1 {
        grid-template-columns: 1fr;
      }
      &-gap--1 {
        grid-gap: 1rem;
      }
    }
  }
}