.header {
  background: #141414;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Staatliches', sans-serif;
  border-bottom: 1px solid #303030;

  &Nav {
    display: inline-block;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    margin: 0 0.5rem;

    &Active {
      color: #3cd03c;
    }
  }
}