.hero {
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 2rem 5rem;
  @media all and (max-width: 1920px) {
    padding: 2rem;
  }
  @media all and (max-width: 550px) {
    padding: 1rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    flex: 1;
    &-title {
      opacity: 0;
      transition: 1.5s;
      margin-bottom: 1rem;
      &.visible {
        opacity: 1;
      }
    }
  }
  &__countdown {
    margin-top: 0.5rem;
    font-size: 2.6rem;
    width: 400px;
    &-panel {
      padding: 0.5rem;
      width: 90px;
      background: #262626;
    }
    @media all and (max-width: 550px) {
      width: 260px;
      font-size: 2rem;
      &-panel {
        @media all and (max-width: 550px) {
          width: 60px;
        }
      }
    }
  }
  &--full-page {
    min-height: calc(100vh - 50px);
    width: 100%;
  }
  &--fade {
    &:after {
      background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(255,255,255,0) 85%);
      height: 100px;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}