.pagination {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &Button {
    margin: 0 0.2rem;
    color: white;
    padding: 0.1rem;
    border: 1px solid #575757;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    &:hover {
      background: #575757;
    }
  }
  &Text {
    margin: 0 0.5rem;
  }
}