.section {
  padding: 1rem 0;
  &__header {
    text-align: center;
    margin: 0 2rem 1rem;
    &-title {
      text-transform: uppercase;
      display: inline-block;
      padding: 0 2rem;
      border-bottom: 2px solid white;
    }
    &-subtitle {
      text-align: center;
      margin-bottom: 1rem;
    }
  }
  .swiper-container {
    padding: 0 3rem;
    position: relative;
    .swiper {
      position: static;
    }
  }
}