// Width

.width {
  &--100 {
    width: 100%;
  }
}

.page-header {
  padding: 3rem 0;
}

// Wrappers

.wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 2rem;
  &--xl {
    max-width: 1920px;
  }
  @media all and (max-width: 550px) {
    padding: 0 0.5rem;
  }
}

// Position

.pos {
  &--relative {
    position: relative;
  }
}

// Padding

.pad {

}

// Margin

.margin {

  &-top {
    &--xs {
      margin-top: .5rem;
    }
    &--sm {
      margin-top: 1rem;
    }
  }

  &-btm {
    &--md {
      margin-bottom: 3rem;
    }
    &--lg {
      margin-bottom: 5rem;
    }
  }
  &-r {
    &--xs {
      margin-right: 0.5rem;
    }
  }
}

// Alignment

.text {
  &--center {
    text-align: center;
  }
  &--left {
    text-align: left;
  }
  &--uppercase {
    text-transform: uppercase;
  }
}

// Rotation

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 2s infinite linear;
}