.wm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #242424;
  padding: 2rem 1rem 0;
  justify-content: center;
  font-family: 'Staatliches', sans-serif;
  &Route {
    opacity: 0.4;
  }
  &Content {
    text-align: center;
    position: relative;
    z-index: 1;
    &Header {
      margin: 0.5rem 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &Title {
      margin-left: 0.8rem;
      text-transform: uppercase;
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 1;
    }
  }
  &Footer {
    width: calc(100% + 1rem);
    margin: auto -1rem 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    min-height: 40px;
  }
  &Completion {
    background: #00a400;
    i {
      margin-right: 0.2rem;
      font-size: 1.5rem;
    }
  }
  &Scheduled {
    background: #0049a4;
    &Countdown {
      width: 230px;
      &Panel {
        border-radius: 8px;
        width: 55px;
        padding: 0.2rem;
        background: darken(#0049a4, 10%);
      }
    }
  }
}