.gear {
  &Image {
    position: relative;
    z-index: 0;
  }
  &Inner {
    position: relative;
    z-index: 1;
    color: #242424;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.75rem;
    font-size: 22px;
    @media all and (max-width: 1400px) {
      font-size: 17px;
    }
    @media all and (max-width: 1200px) {
      font-size: 18px;
    }
    @media all and (max-width: 920px) {
      font-size: 20px;
    }
    @media all and (max-width: 768px) {
      padding: 0.5rem;
      font-size: 18px;
    }
    @media all and (max-width: 650px) {
      font-size: 16px;
    }
    @media all and (max-width: 550px) {
      font-size: 22px;
    }
  }
  &Title {
    font-size: 1.5em;
  }
  &Distance {
    font-size: 1.4em;
    align-self: flex-end;
  }
}