.stat {
  background: #262626;
  display: flex;
  padding: 1rem;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;

  @media all and (max-width: 1600px) {
    font-size: 12px;
  }

  @media all and (max-width: 1150px) {
    font-size: 14px;
  }

  @media all and (max-width: 768px) {
    padding: 0.5rem;
    font-size: 12px;
  }

  @media all and (max-width: 550px) {
    font-size: 16px;
  }

  &Value {
    font-size: 6em;
    line-height: 1;
  }

  &Label {
    font-size: 1.6em;
    color: #ff8d00;
  }
}